name: Vitest CI

on:
  push:
    branches: [ "test" ]
  pull_request:
    branches: [ "test" ]

jobs:
  test-and-verify:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Get the code
      - name: Checkout Repository
        uses: actions/checkout@v4

      # 2. Install Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.mp}}
          cache: 'npm' # This speeds up subsequent runs!

      # 3. Clean Install Dependencies
      - name: Install Dependencies
        # 'npm ci' is faster and stricter than 'npm install' for CI
        run: npm ci

      